Repository ubclaunchpad/LP-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ubclaunchpad/exec, @ubclaunchpad/leads, @ubclaunchpad/design, @ubclaunchpad/strategy

more
  handbook/strategy/objectives.md
Owners: @ubclaunchpad/strategy

typo
  handbook/manifesto.md
Owners: @ubclaunchpad/strategy, @ubclaunchpad/exec, @ubclaunchpad/leads

clarify cross-team discussion
  handbook/strategy/objectives.md
Owners: @ubclaunchpad/strategy

wording improvements
  handbook/strategy/sponsors-and-partners.md
Owners: @ubclaunchpad/strategy

add assessment, remove WIP
  handbook/strategy/objectives.md
Owners: @ubclaunchpad/strategy

add communication to goal
  handbook/strategy/objectives.md
Owners: @ubclaunchpad/strategy

add project completion rate goal
  handbook/strategy/objectives.md
Owners: @ubclaunchpad/strategy

you need -> they need
  handbook/manifesto.md
Owners: @ubclaunchpad/strategy, @ubclaunchpad/exec, @ubclaunchpad/leads

Create designers.md
  handbook/recruitment/designers.md
Owners: @ubclaunchpad/exec, @ubclaunchpad/leads

Create developers.md
  handbook/recruitment/developers.md
Owners: @ubclaunchpad/exec, @ubclaunchpad/leads

rename ot-sharing to cop-sharing
  handbook/tools/slack.md
  handbook/tools/social-media.md
Owners: @ubclaunchpad/exec, @ubclaunchpad/leads

.github/CODEOWNERS:

# exec and leads should be aware of all changes
* @ubclaunchpad/exec @ubclaunchpad/leads

# team onboarding pages
handbook/onboarding/design @ubclaunchpad/design @ubclaunchpad/exec @ubclaunchpad/leads
handbook/onboarding/strategy @ubclaunchpad/strategy @ubclaunchpad/exec @ubclaunchpad/leads

# messaging and direction
handbook/manifesto.md @ubclaunchpad/strategy @ubclaunchpad/exec @ubclaunchpad/leads

# strategy
handbook/strategy @ubclaunchpad/strategy
